<?xml version="1.0" encoding="UTF-8"?>
<context>
	<Resource name="jdbc/OracleDB"
		auth="Container"
		type="javax.sql.DataSource"
		username="KH2409"
		password="oracle"
		driverClassName="oracle.jdbc.driver.OracleDriver"
		factory="org.apache.tomcat.dbcp.dbcp.BasicDataSourceFactory"
		url="jdbc:oracle:thin:@istudy.iptime.org:7000:ORCL"
        maxActive="500" 
        maxIdle="100"/>  
</context>